@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

/*font-family: 'Slabo 27px', 'Lexend Deca', sans-serif; */

/*------------------------Variables------------------------*/
:root {
  --color1: #03112e;
  --color2: #cc8c44;
  --color3: #0000c0;
}
/*------------------------Variables------------------------*/
/*------------------------Universal------------------------*/
*{  
  margin: 0;
  transition: .35s ease-in-out;
  box-sizing: border-box;
}
.header{
  background-color: #03112e;
  color: white;
  height: 125px;
  display: flex;  /*we should probably have a flex-direction. */
  align-items: center;
  justify-content: space-between;
  padding: 30px 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 2px;
  font-weight: lighter;
  position: fixed;
  width: 100%;

  
}
.header img{
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  transform: rotate(1turn);
  
  
}
.header .title{
  position: absolute;
  left: 120px;
  transition:none;
  
}
/* using flex box the parent is the container and must have display:flex */
.flexcontainer {
display: block;
/* which direction to layout items/children ? 
 set to row if child items are the columns
*/
  padding-top: 150px;

    display: block;
  padding-left: 2px;
  padding-right: 2px;
  border: none;

  font-family: 'Slabo 27px', 'Lexend Deca', sans-serif; 
  font-size: 20px;
}
.flexcontainer h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 2px;
  font-weight: lighter;
  padding-bottom: 30px;
  font-size: 40px;
  
}           

.footer{
background-color:#03112e ;
color: white;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
letter-spacing: 2px;
}

/*------------------------Universal------------------------*/

/*------------------------navigation bar------------------------*/
#drawer-toggle {
opacity: 0;
}
#drawer-toggle-label {
  user-select: none;
   right: 0px;
   height: 50px;
  width: 50px;
  display: block;
  position: fixed;
   background: rgba(255, 255, 255, .0);
  z-index: 1;
}

/* add "hamburger" menu icon */
#drawer-toggle-label:before {
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  width: 24px;
   background: white;
   right: 13px;
   top: 18px;
   box-shadow: 0 6px 0 white, 0 12px 0 white;
}
 /* drawer menu pane */
 #drawer {
   position: fixed;
  top: 0;
  right: -300px;
   height: 100%;
  width: 300px;
  background: #03112e;
  overflow-x: hidden;
   overflow-y: scroll;
   padding: 20px;
}

/* checked styles (menu open state) */
#drawer-toggle:checked ~ #drawer-toggle-label {
  height: 300%;
  width: calc(100% - 300px);
  background: rgba(255, 255, 255, .8);
}

#drawer-toggle:checked ~ #drawer-toggle-label,
#drawer-toggle:checked ~ header {
  right: 300px;
}

#drawer-toggle:checked ~ #drawer {
  right: 0px;
}

#drawer-toggle:checked ~ #page-content {
   margin-right: 300px;
}
/* Menu item styles */
#drawer ul {
  list-style-type: none;
}
#drawer ul a {
 display: block;
 padding: 10px;
 color: white;
text-decoration: none;
}

#drawer ul a:hover {
  color: var(--color2);
}
/*-----------------navigation bar------------------------*/

/*------------------------Handbook------------------------*/
.scroll-box{
  background: #f4f4f4;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 500px; /* maximum height of the box, feel free to change this! */
  padding: 15px;
  overflow-y: scroll;
}
/*------------------------Handbook------------------------*/

/*-----------------------Donate------------------------*/
.Donate{
  text-align: left;
}
.Donate ul a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.Sponsors img{
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
/*-----------------------Donate------------------------*/
/*-----------------------About------------------------*/
#aboutMyMiddle img{
    width: auto;
  max-width: 50%;
  height: auto;
  max-height: 50%;
}
/*-----------------------About------------------------*/
/*-----------------------Home------------------------*/
.subteams{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 300px;
}
.subteams div{
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  padding: 20px;
}
.subteams div .textbox{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  

  padding-right: 50px;

  text-align: left; 

  
}
.subteams div .textbox h3{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
  letter-spacing: 2px;
  font-weight: lighter;
  font-size: 25px;

  padding-bottom: 5px;
}
.subteams div .textbox p{
  font-family: 'Slabo 27px', 'Lexend Deca', sans-serif; 
  font-size: 20px;

  padding-bottom: 20px;

  clear: both;

}
.subteams div img{
  
  max-width: 50%;
  height: auto;
  

  padding: 10px;
}

.mymiddle .frame {
  display: flex;
  height: 200px;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 30px 10px;
}
.mymiddle .frame img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  clear:both;
  padding-left: 100px;
  padding-right: 5px;

}
.mymiddle .frame h3{
  text-align: left;
  padding-top: 50px;
  padding-right: 100px;
  padding-left: 5px;
  clear:both;
  

}

.interest{
  
  background-color: var(--color1);
  color: white;

    font-family: 'Slabo 27px', 'Lexend Deca', sans-serif; 
  font-size: 20px;

  width: 100%;
  flex-basis: 100%;


  text-align: center;

}
.interestButton {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: black;
  border-radius: 6px;
  outline: none;
  transition: 0.3s;
  float: left, right;
}
.button:hover {
  background-color: #c2c7c7;
}
/*------------------------Home------------------------*/

/*------------------------Events------------------------*/

caption{
  font-style: italic;
  padding-top: 8px;
}
table{
  margin-right: 20px;
  margin-left: 20px;
  border: thick solid black;
  caption-side: bottom;
  border-collapse: collapse;
  empty-cells: show;
  overflow: visible;
}
td, th{
  border: thin dotted grey;
  padding: 5px;
  border-spacing: 5px;
}
th{
  background-color: #03112e;
  color: white;
  border: none;
}
form div,
form fieldset {
      margin-bottom: 50px;
      margin-top: 20px;
}
fieldset {
  margin: 20px;
  padding: 0 10px 10px;
  border: 2px solid #666;
  border-radius: 8px;
  box-shadow: 0 0 10px #666;
  padding-top: 10px;

}
legend {
  background: #fff;
  box-shadow: 0 0 10px #666;
  border: 2px solid #666;
  border-radius: 8px;
  /* For better legibility against the box-shadow */
}
fieldset > legend {
  float: left;
  margin-top: -20px;
}
fieldset > legend + * {
  clear: both;
}

/*------------------------Events------------------------*/

/* CSS Media Queries for typical devices */
/* 1: Extra small devices (phones, less than 768px) */
.myleft {
padding-right:10px;
text-align: center;
padding-top: 20px;
}

.mymiddle {
  text-align: center;
  padding-top: 20px;
  height: 75%;
  max-width: 100%;
}
.myright {
padding-left:10px;
text-align: center;
padding-top: 20px;

}
/* No media query since this is the default ruleset in a "mobile first" approach */

/*------------------------ 2: Small devices (tablets, 768px and up)------------------------ */
@media screen and (min-width:768px) { 
.flexcontainer{
  display: flex;
  flex-wrap: wrap;
}

.myleft{
  flex-basis: 5%;
  max-width: 5%;
  }
.myright{
  flex-basis: 5%;
  max-width: 5%;
}
.mymiddle{
  flex-basis: 90%;
  max-width: 90%;

}
.subteams div{
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  padding: 20px;
}
header, nav, footer, .interest{
  flex-basis: 100%;
  max-width: 100%;
  
}
}
/*------------------------ 2: Small devices (tablets, 768px and up)------------------------ */
/*------------------------ 3: Medium devices (desktops, 992px and up) ------------------------*/
@media screen and  (min-width: 992px) { 
.flexcontainer{
  display: flex;
  flex-wrap: wrap;
}
  

.myleft{
  flex-basis: 10%;
  max-width: 10%;
}
.mymiddle{
  flex-basis: 80%;
  max-width: 80%;
}
.myright{
  flex-basis: 10%;
  max-width: 10%;
}
.subteams div{
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  padding: 20px;
}
header, nav, footer, .interest{
  flex-basis: 100%;
  max-width: 100%;
  
}
}
/*------------------------ 3: Medium devices (desktops, 992px and up) ------------------------*/
/*------------------------ Responsive media query for navigation bar------------------------*/
 @media all and (max-width:350px) {
#drawer-toggle:checked ~ #drawer-toggle-label {
   height: 100%;
   width: 50px;
}
#drawer-toggle:checked ~ #drawer-toggle-label,
#drawer-toggle:checked ~ header {
  right: calc(100% - 50px);
}
#drawer-toggle:checked ~ #drawer {
   width: calc(100% - 50px);
   padding: 20px;
}
#drawer-toggle:checked ~ #page-content {
  margin-right: calc(100% - 50px);
}
}
/* ------------------------Responsive media query for navigation bar------------------------*/
